body {
	font-family:"Georgia", "Times New Roman", Times, serif;
	text-align: center;	/*Fixa a .... do I.E.*/
	margin: 0px;
	font-size: 13px;
	width: 100%;
	margin: auto;
	padding-bottom: 5px;
}
#main{
	padding-bottom: 5px;
	width: 100%;
}

#UmaColuna{
	float: left;
	text-align: left;
	margin: 20px;
}

a:visited{
	text-decoration: none;
}

.DuasColunas{
	width: 50%;
	height: 90%;
	float: left;
	text-align: left;
	margin: 20px;
}

#rodape{
	bottom:0px;
}

img{
	border:none;
}

/* em vermelho */
label.serif {	 		
	color: red;
	font-weight: bold;
	
}
label.serifLittle {	 		
	color: red;
	font-weight: bold;
	font-size: 11px;
}
