html, body {
	width: 100%;
	height: 100%;
}

.nps-div {
	width: 100%;
}

.nps-block {
	float: left;
	text-align: center;
}

.nps-block .score {
	color: #ccc;
	font-weight: bold;
}

.nps-block .score {
	color: #ccc;
	font-weight: bold;
}

.nps-block-click {
	opacity: 0.3 !important;			
}