<!doctype html>
<html lang="pt_BR" data-ng-app="BeMEAN">
<head>
	<meta charset="UTF-8">
	<title>Be MEAN</title>
</head>
<body data-ng-controller="UserController as User">
	<h1>{{User.titulo}}</h1>
	<label>Busca: <input type="text" data-ng-model="searchUser"/></label>
	<p>
		<label>Name:
			<input type="text" data-ng-model="form.User.name" />
		</label>
		<br />
		<label>Email:
			<input type="text" data-ng-model="form.User.email" />
		</label>
	</p>
	
	<button data-ng-click="User.add(form.User)">ADD USER</button>
	<span data-ng-init="predicate = 'name'; reverse = true; "></span>
	<table>
		<thead>
			<tr>
				<th data-ng-click="User.ordenarBy(key)" data-ng-repeat="(key, value) in User.users[0]">{{key}}</th>
			</tr>
		</thead>
		
		<tbody>
			<tr data-ng-repeat="user in User.users | filter:searchUser track by $index ">
				<td data-ng-repeat="(key, value) in user" style="text-align: center;">{{value}}</td>
			</tr>
		</tbody>
		
	</table>
	
	<div data-ng-controller="CursoController as Curso">
		<p>
			<label>Name:
				<input type="text"data-ng-model="form.Curso.name" />
			</label>
			<br />
			<label>Email:
				<input type="text"data-ng-model="form.Curso.email" />
			</label>
			<button data-ng-click="Curso.add(form.Curso)">ADD USER</button>
		</p>
		
		
		<h1>{{User.titulo}}</h1>
		<ul>
			<li data-ng-repeat="curso in Curso.users">
				{{curso.name}} - {{curso.teacher}}
			</li>
		</ul>
	</div>
	
	<script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
	<script type="text/javascript">
		
		//Ordena um Objeto de acordo com a coluna selecionada
		function sortResults(arr, prop, asc) {
			var arr = arr.sort(function(a, b) {
				if (asc) {
					return (a[prop] > b[prop]) ? 1 : ((a[prop] < b[prop]) ? -1 : 0);
				} else {
					return (b[prop] > a[prop]) ? 1 : ((b[prop] < a[prop]) ? -1 : 0);
				}
			});
			return arr;
		}
		//ux = sortResults(ux, 'name', true);
		
		
		
	
	
		angular.module('BeMEAN', [])
			.controller('UserController', UserController)
			.controller('CursoController', CursoController)
		;
			
		function UserController(){
			var vm = this;
			vm.titulo = "Be Mean - Usuários";
			/*
			vm.users = [
				 {name: 'Gabriel'	,email:'gabrieldarezzo@yahoo.com.br'}
				,{name: 'Roberto'	,email:'robert@teste.com.br'}
				,{name: 'Suissa'	,email:'susu@gmail.com'}
				,{name: 'Zi'		,email:'ai@test.com'}
			];
			*/
			vm.users = [
				 {name: 'A'	,email:'z@yahoo.com.br'}
				,{name: 'B'	,email:'c@teste.com.br'}
				,{name: 'C'	,email:'b@gmail.com'}
				,{name: 'Z' ,email:'a@test.com'}
			];
			
			vm.add = add;
			function add(user){
				vm.users.push(user);
			}
			
			vm.ordenarBy = ordenarBy;
			function ordenarBy(key){
				vm.users = sortResults(vm.users, key, true);
				//console.log('Ordenando por:',key ,vm.users);
			}
		}
		
		function CursoController(){
			var vm = this;
			vm.titulo = "Be Mean - Cursos";
			vm.users = [
				 {name: 'PHP With Angular'	,teacher:'Darezzo'}
				,{name: 'Boa Praticas Js'	,teacher:'WBruno'}
				,{name: 'Be MEAN'			,teacher:'Suissa'}
			];

			vm.add = add;
			function add(user){
				vm.users.push({name:'Curso Exemplo', teacher: 'Prof Exemplo'});
			}
			
		}
	</script>
	
</body>
</html>