<!doctype hTML>
<html lang="en" data-ng-app="BeMEAN">
<head>
	<meta charset="UTF-8">
	<title>{{ titulo }}</title>
</head>
<body>
	<label for="nome">
		<input type="text" data-ng-model="nome" />
	</label>
	<br />
	Olá mundo, {{nome | reverseString}}
	<br />
	
	<label for="titulo">
		<input type="text" data-ng-model="titulo"/>
	</label>
	
	
	<br />
	<hr />
	<label for="idade">
		<input type="text" data-ng-model="idade"/>
	</label>
	<br />
	<h4>{{idade | isMaior}}</h4>
	
	<script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
	<script type="text/javascript">
		angular.module('BeMEAN', [])
			.filter('reverseString', function(){
				return function(text){
					if(text) return text.split("").reverse().join("");
				}
			})
			.filter('truncate', function(){
				return function(text, length, end){
					if(text){
						if(isNaN(length)) length = 10;
						if(end === undefined) end = "...";
						if(text.length <= length) return text;
						else return String(text).substring(0, length) + end;
					}
				}
			})
			.filter('isMaior', function(){
				return function(idade){
					if(idade == '' ||idade == 'undefined'|| idade == null){
						return '';
					}
				
					if(idade >= 18){
						return 'Maior';
					} else {
						return 'Menor de idade';
					}
				}
			
			
			});
	</script>
	
</body>
</html>